<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<title>Erreur 404 | IESEG Conseil Jobs</title>
	<link rel="stylesheet" href="{{ baseUrl }}/assets/css/app.css">
	<link rel="stylesheet" href="{{ baseUrl }}/assets/css/normalize.css">
</head>
<body class="home">
<div class="warp">
	<header>
		<div class="logo"><a href="http://iesegconseil.fr" title="retour au site IESEG Conseil"><img src="{{ baseUrl }}/assets/img/logo_white.png" alt="IESEG CONSEIL"></a> <!--a href="{{ path_for('home') }}" class="subtitle" title="retour à l'accueil de IESEG Conseil JOBS">JOBS</a--></div>
	</header>
</div>
<div class="warp big"> 
	<div class="error404">
		<span>Erreur 404</span>
		La page auquel vous essayez d'accéder n'existe pas.<br>
		Vous allez être redirigé vers la <a href="{{ path_for('home') }}">page d'accueil</a>.
	</div>
</div>

</div>

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">
<script src="https://use.fontawesome.com/ad8f656abe.js"></script>
<script>
	setTimeout(function() {
	  	window.location.replace("{{ path_for('home') }}");
	}, 2000);

</script>
</body>
</html>